<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wigl.wigl" >

    <uses-sdk android:minSdkVersion="14" />

    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- features -->
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".WiFiDirectActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CaptureActivity"
            android:label="@string/capture_activity_name"
            android:parentActivityName=".WiFiDirectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WiFiDirectActivity" />

            <intent-filter>
                <action android:name="com.wigl.wigl.ACTION_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Used for transferring files  after a successful connection -->
        <service android:enabled="true" android:name=".FileTransferClient" />

    </application>

</manifest>
